<span class="circle-container">
    <i class="circle {{#if (gte value 1)}}fa-solid{{else}}fa-regular{{/if}} fa-circle"></i>
    <i class="circle {{#if (gte value 2)}}fa-solid{{else}}fa-regular{{/if}} fa-circle"></i>
    <i class="circle {{#if (gte value 3)}}fa-solid{{else}}fa-regular{{/if}} fa-circle"></i>
</span>