<span id="friend-points-pips">
    <i class="{{#if filledCircles.[0]}}fa-solid{{else}}fa-regular{{/if}} fa-circle"></i>
    <i class="{{#if filledCircles.[1]}}fa-solid{{else}}fa-regular{{/if}} fa-circle"></i>
    <i class="{{#if filledCircles.[2]}}fa-solid{{else}}fa-regular{{/if}} fa-circle"></i>
</span>